:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.navbar{
  margin:0;
  padding:0;
  overflow:hidden;
  top:0;
  width:100%;
}
.navbar a{
  color:rgb(85, 30, 136);
  float:left;
  padding:10px 30px;
  display:block;
  background:green;
}

.navbar a:hover{
  background-color: rgb(44, 182, 74);
}
.navbar a.active{
  background-color: rgb(44, 182, 74);
}

.error{
  color: red;
  font-size: 14px;
  margin-left:5px
}

.ui-card{
  background: beige;
}

.background{
  background: lightcyan
}

.headers{
  font-family: Cosmic-sans;
  text-align: center;
}

.header{
  color:blue
}

.description{
  color:orange
}

.meta{
  color:purple
}

.field{
  text-align:center;
}

.paragraph{
  text-align:center;
  font-size: 27px;
  font-family:comisc sans;
  text-wrap: wrap;
}

.home-header{
  text-align: center;
}